#notesDetails{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
}
.return-btn {
    font-size: 35px;
    position: absolute;
    top: 80px;
    left: 40px;
    animation: pulse 1s ease-in-out alternate infinite forwards;
  }
  
  .return-btn:hover {
    animation: none;
  }
  
  @keyframes pulse {
    0% {
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(20px);
    }
  }
  
  .list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px auto;
    width: 90vw;
  
    align-items: center;
    padding: 10px;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .task-box {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 20px;
    box-shadow: 0 0 5px black;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow-x: scroll;
    box-sizing: border-box;
  }
  
  .task-box:hover {
    box-shadow: 0 0 5px rgb(244, 242, 242);
  }
  .task-box p {
    font-size: 25px;
    word-break: break-all;
  }
   
  #notesDetails .btn-del {
    color: rgb(239, 111, 111);
    font-size: 30px;
  }
  
  @media screen and (max-width: 500px) {
  
    #notesDetails {
          flex-direction: column-reverse;
          height: 80vh;
      }
  
      #notesDetails .categoryName{
          display: none;
         
      }
    .return-btn {
      font-size: 25px;
      position: absolute;
      top: 25px;
      left: 10px;
      animation: pulse 1s ease-in-out alternate infinite forwards;
    }
  
    h2 {
      font-size: 17px;
      font-weight: 500;
    }
  
    .list-container {
      height: 70vh;
    }
  
    .task-box{
      width: 90%;
    }
  
    .task-box p{
      font-size: 20px;
    }
  
    #noteDetails  .btn-del{
      font-size: 25px;
    }
  }
  