@media screen and (max-width:500px) {
    #logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 80px;
        position: absolute;
        top: 0px;
        background-color: rgba(0, 0, 0, 0);
    }

    .logo-yin{
        font-size: 50px;
        opacity: 1;
        animation: rotate 4s alternate forwards infinite;
        color: white;
        filter: drop-shadow(0 0 10px black);
    }

    @keyframes rotate {
        from{
            transform: rotate(0deg);
        }

        to{
            transform: rotate(360deg);
        }
    }
    
}